<% content_for :instructor do %>
 <% if !!flash[:message] %>
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:message] %>
    </div>
  <% end %>

        <div class="card-body">
          <div class="card text-center">
            <h5 class="card-header">Instructor Dashboard</h5>
              <div class="card-body">
                <h5 class="card-title">Teach a new course</h5>
                <p class="card-text">Empowering students with high quality instruction</p>
                <a href="/courses/new" class="btn btn-primary">Add Course</a>
              </div>
          </div><br>
        
          <div class="card-body">
            <div class="card text-center">
              <h5 class="card-header">Courses You're Teaching</h5>
            </div>
          <% current_user.courses.to_ary.in_groups_of(2) do |c1, c2| %>
           <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= c1.name %></h5>
              <p class="card-text"><%= c1.description %></p>
              <small class="text-muted float-left"><%= c1.credits %> credits</small>
              </div>
                <div class="card-footer">

                <form method="post" action="/courses/<%= current_user.slug %>/<%= c1.id %>/delete">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input class="btn btn-danger btn-sm float-left" type="submit" value="Cancel this course">
                </form>

                <a href="/courses/<%= current_user.slug %>/<%= c1.id %>/edit" class="btn btn-dark btn-sm float-right">Edit</a>

                </div>
            

          <% if c2 %> 
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= c2.name %></h5>
                <p class="card-text"><%= c2.description %></p>
                <small class="text-muted float-left"><%= c2.credits %> credits</small>
              </div>
                <div class="card-footer">

                <form method="post" action="/courses/<%= current_user.slug %>/<%= c2.id %>/delete">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input class="btn btn-danger btn-sm float-left" type="submit" value="Cancel this course">
                </form>

                <a href="/courses/<%= current_user.slug %>/<%= c2.id %>/edit" class="btn btn-dark btn-sm float-right">Edit</a>

              
                </div>
            </div>
          <% end %>
          
          <% end %>

          </div>
<% end %>

<% content_for :student do %>
  <% if !!flash[:message] %>
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:message] %>
    </div>
  <% end %>
        <div class="card-body">
          <div class="card text-center">
            <h5 class="card-header">Student Dashboard</h5>
              <div class="card-body">
                <h5 class="card-title">Enroll in a new course</h5>
                <p class="card-text">Find the course that is right for you</p>
                <a href="/courses/courses" class="btn btn-primary">Search Courses</a>
              </div>
          </div><br>


        
          <div class="card-body">
            <div class="card text-center">
              <h5 class="card-header">Courses You're Enrolled in</h5>
            </div>
<% end %>
